.statistics {
  max-width: 60vw;
    margin: 20px auto 0;
  padding: 15px;

  background-color: rgb(231, 236, 242);
  border-radius: 10px;
}

@media screen and (max-width: 1023.98px) {
  .statistics {
    margin: 10px auto 0;
    padding: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .statistics {
    margin: 5px auto 0;
    padding: 5px;
  }
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 24px 24px 0;

  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(236 232 239);
  border-radius: 10px 10px 0px 0px;  
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1023.98px) {
  .title {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 12px 12px 0;

    border-radius: 8px 8px 0px 0px;
  }
}

@media screen and (max-width: 767.98px) {
  .title {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 5px 0;

    border-radius: 5px 5px 0px 0px;
  }
}

.statList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  padding-left: 0;

  background-color: rgb(252, 244, 244);  
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.6);
}

.statList li:first-child {
  border-radius: 0px 0px 0px 10px;
}

.statList li:last-child {
  border-radius: 0px 0px 10px 0px;
}

@media screen and (max-width: 1023.98px) {
  .statList {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;

    border-radius: 0px 0px 8px 8px;
  }
  .statList li:first-child {
    border-radius: 0px 0px 0px 8px;
  }
  .statList li:last-child {
    border-radius: 0px 0px 8px 0px;
  }
}

@media screen and (max-width: 767.98px) {
  .statList {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

    border-radius: 0px 0px 5px 5px;
  }
  .statList li:first-child {
    border-radius: 0px 0px 0px 5px;
  }

  .statList li:last-child {
    border-radius: 0px 0px 5px 0px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  flex-basis: calc((100% * 4) / 5);

  color: #fff;
  border: 1px solid rgb(196, 178, 178);  
}

@media screen and (max-width: 1023.98px) {
  .item {
    height: 60px;
  }
}

@media screen and (max-width: 767.98px) {
  .item {
    height: 40px;
  }
}

.label {
  margin-bottom: 5px;

  font-size: 20px;  
}

@media screen and (max-width: 1023.98px) {
  .label {
    font-size: 16px;
  }
}

@media screen and (max-width: 767.98px) {
  .label {
    font-size: 10px;
  }
}

.percentage {
  font-size: 24px;  
}

@media screen and (max-width: 1023.98px) {
  .percentage {
    font-size: 16px;
  }
}

@media screen and (max-width: 767.98px) {
  .percentage {
    font-size: 12px;
  }
}
