.transactionWrapper {
  max-width: 60vw;
  margin: 20px auto;
  padding: 15px;

  background-color: rgb(231, 236, 242);
  border-radius: 10px;
}

@media screen and (max-width: 1023.98px) {
  .transactionWrapper {
    margin: 10px auto;
    padding: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .transactionWrapper {
    margin: 5px auto;
    padding: 5px;
  }
}

.transactionHistory {
  margin: 24px;

  border-collapse: collapse;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 1023.98px) {
  .transactionHistory {
    margin: 12px;
  }
}

@media screen and (max-width: 767.98px) {
  .transactionHistory {
    margin: 5px;
  }
}

table th,
table td {
  width: calc((60vw - 100px) / 3);
  padding: 10px;

  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
}

@media screen and (max-width: 1023.98px) {
  table th,
  table td {
    width: calc((60vw - 60px) / 3);
    padding: 6px;

    font-size: 16px;
  }
}

@media screen and (max-width: 767.98px) {
  table th,
  table td {
    width: calc((60vw - 32px) / 3);
    padding: 4px;

    font-size: 10px;
  }
}

table tr {
  background-color: rgb(255, 255, 255);
}

table tr:nth-child(2n) {
  background-color: rgb(236, 241, 243);
}

table tr:last-child {
  background-color: rgb(0, 188, 213);
}

th {
  background-color: rgb(0, 188, 213);
  color: #fff;
}

table th:first-child {
  border-radius: 10px 0px 0px 0px;
}

table th:last-child {
  border-radius: 0px 10px 0px 0px;
}

table td:first-child {
  text-align: start;
}
